.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#url-builder {
  width: 500px;
  margin: 2rem auto auto auto;
}

#input-field-container {
  padding: 1rem;
  border-radius: 10px;
  border: solid 2px gainsboro;
  font-size: 1.5rem;
  position: relative;
  width: 300px;
  margin: auto;
}

#input-field-container label {
  color: rgb(133, 133, 133);
  font-size: 0.8rem;
  position: absolute;
  top: -0.6rem;
  left: 0.6rem;
  background-color: white;
  padding: 0 0.41rem;
}

#input-field-container input {
  width: 90%;
}

#input-field-container input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

a:focus,
button:focus {
  outline: dotted gray 2px !important;
}

#url-builder input {
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

#url-builder input::placeholder {
  color: gray;
  font-style: italic;
}

.options-area {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 1rem;
  justify-content: center;
}

#radiobutton-area-box {
  padding: 1rem;
  border-radius: 10px;
  border: solid 2px gainsboro;
  width: 490px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#radiobutton-area-box-label {
  color: rgb(133, 133, 133);
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
  left: 3rem;
  background-color: white;
  padding: 0 0.41rem;
  width: 7.5rem;
}

#checkbox-area-box {
  padding: 0 1rem 1rem 1rem;
  border-radius: 10px;
  border: solid 2px gainsboro;
  width: 210px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#checkbox-area-box-label {
  color: rgb(133, 133, 133);
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
  left: 3rem;
  background-color: white;
  padding: 0 0.41rem;
  width: 7.5rem;
}

.checkbox-list-container {
  margin-top: 0.5rem;
}

#translator-button-area {
  width: 410px;
}

.radiobuttonarea {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
}

div.radiobuttonarea label {
  padding-right: 0.5rem;
  padding-bottom: 0.4rem;
}

.option-descriptions {
  font-size: 0.8rem;
  color: gray;
  margin-left: 1.5rem;
}

div.radiobuttonarea label input {
  margin-right: 0px;
}

div.radiobuttonarea label[disabled] {
  color: #c7c7ce;
}

#message-area {
  height: 1rem;
  width: 320px;
  font-size: 0.7rem;
  position: relative;
  top: -0.65rem;

  margin: auto;
}

#warning-message,
#error-message {
  background-color: white;
  padding: 0 0.5rem;
  display: inline-block;
  margin: 0 0.5rem;
}

#warning-message {
  color: green;
}
#error-message {
  color: red;
}

#link-button-area {
  text-align: center;
  min-height: 220px;
}

.url-button-class {
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  width: 360px;
  margin: auto auto 5px auto;
}

a:focus div.url-button-class {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
}

#url-button {
  justify-content: center;
}

.image-container {
  float: left;
}

div.SC {
  background: #ce8400;
  box-shadow: inset 0px 0px 10px #b67300;
}

div.SF {
  background: #b45250;
  box-shadow: inset 0px 0px 10px #9e4746;
}
div.DT {
  background: #b87049;
  box-shadow: inset 0px 0px 10px #a36341;
}
div.ABT {
  background: #7f9861;
  box-shadow: inset 0px 0px 10px #738859;
}
div.PA {
  background: #ea7101;
  box-shadow: inset 0px 0px 10px #d16501;
}
div.SCV {
  background: #000000;
  box-shadow: inset 0px 0px 10px #756a9b;
}

#url-button.nolink {
  background: gray;
}

.url-button-class:hover,
#url-button:hover {
  background: rgba(0, 0, 0, 0.466);
  box-shadow: inset 0px 0px 10px black;
}
a.url-button-link,
#url-button a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

@media only screen and (max-width: 975px) {
  #url-builder {
    width: 350px;
    margin: 2rem auto auto auto;
  }
  #input-field-container {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 280px;
  }

  div.url-button-class {
    padding: 0.5rem;
    border-radius: 10px;
    width: 300px;
    font-size: 0.8rem;
  }

  .url-button-class {
    /* font-stretch: condensed !important; */
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  }

  .options-area {
    flex-direction: column;
  }

  #checkbox-area-box {
    width: 280px;
  }

  #radiobutton-area-box {
    flex-direction: column !important;
    width: 280px;
  }

  #translator-button-area {
    width: 290px;
  }

  .radiobuttonarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 0.5rem;
    margin-right: 0rem;
  }

  #tabbed-links-area {
    width: 330px !important;
    min-height: 700px !important;
  }

  .tab-titles {
    display: none;
  }

  #SC-toc-suttas-links-area,
  #SC-all-suttas-links-area,
  .links-area {
    column-gap: 0px !important;
    margin: 0px !important;
  }

  .Thag {
    max-width: 45px;
  }

  .Thig {
    max-width: 45px;
  }
  #SC-section .nikaya-group a,
  a index-button-sections a.index {
    padding: 0.5rem 1rem;
  }
  #ABT-section li {
    margin: 0.5rem 0 !important;
  }
  #SC-index,
  #ABT-index,
  #SF-index,
  #DT-index {
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
  }

  #ABT-section .nikaya-group {
    font-size: 0.8rem;
  }

  h3 {
    display: block !important;
  }
}

h3 {
  display: none;
  margin: 0.4rem 0 0rem 0;
  font-weight: bold;
  text-align: center;
  color: rgb(59, 59, 59);
  font-size: 1.2rem;
}

h4 {
  margin: 0.7rem 0 0.4rem 0;
  font-weight: normal;
  text-align: center;
  color: rgb(236, 236, 236);
  font-size: 0.8rem;
}

#info-section h4 {
  color: grey;
}

.nikaya-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 5px;
  margin-bottom: 10px;
  row-gap: 5px;
  max-height: 130px;
}

.nikaya-group a,
.index-button-sections a {
  text-decoration: none;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  border: solid 1px gainsboro;
  color: black;
}

#SF-index,
#DT-index,
#ABT-index {
  margin-bottom: 1rem;
}

.index {
  background-color: #dadada;
}

.index-button-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 5px;
}

a.card-link:hover,
a.all-link:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

#ABTSection.js li {
  padding: 0.3rem 0;
}

.DN {
  background: #d1eddf;
}

.MN {
  background: #f5deb3;
}

.SN {
  background: #add8e6;
}

.AN {
  background: #e6e6fa;
}
.KN {
  background: #ffffff;
}

.Khp {
  background: #ffd485;
  flex: 1;
}

.Dhp {
  background: #b7e0d2;
  flex: 1;
}

.Ud {
  background: #e9e296;
  flex: 1;
}

.Itv {
  background: #ffe4e1;
  flex: 1;
}

.Snp {
  background: #faf0e6;
  flex: 1;
}

.Vv {
  background: #fafad2;
  flex: 1;
}

.Pv {
  background: #d3d3d3;
  flex: 1;
}

.Thag {
  background: #ddf0ff;
  flex: 1;
}

.Thig {
  background: #dce3c7;
  flex: 1;
}
.Ja {
  background: #d8fffa;
}

#SC-section .nikaya-group .all-link {
  filter: brightness(85%);
}
/* -------------- Tabbed Link area ----------------------- */

#tabbed-links-area {
  width: 800px;
  min-height: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid gainsboro;
  overflow: hidden;
  border-radius: 10px;
}
.bloc-tabs {
  display: flex;
}

.bloc-tabs button:focus {
  outline: none !important;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  /* background: white; */
  border-bottom: 1px solid transparent;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 5px;
  height: 700px;
  display: none;
}

div.content.SC-content,
.SC-tabs {
  background-color: #ce8400;
}
div.content.SF-content,
.SF-tabs {
  background-color: #b45250;
}
div.content.DT-content,
.DT-tabs {
  background-color: #b87049;
}
div.content.ABT-content,
.ABT-tabs {
  background-color: #7f9861;
}

.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.settings-button {
  display: flex;
  margin-top: 0.2rem;
}

.settings-button img:hover {
  filter: opacity(50%);
}

.hidden {
  display: none;
}

.icon-links-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.icon-links-area a {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.icon-links-area a:hover {
  top: -5px;
}
